#=========================================
# CMake Build Artifacts
#=========================================
# Ignore standard in-source build directories
CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json

# Ignore arbitrary custom build directories
[Bb]uild/
[Bb]uild*/
[Cc]make-build-*/

# Ignore generated build tools files
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
[Oo]ut/
[Oo]ui/*

#=========================================
# Compiled Outputs & Binaries
#=========================================
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
